<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Monks!</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div><a href="https://media.monks.com/"><img src="/img/monks.png"></a></div>
        <div><h1>Hello Monks!</h1></div>
        <a href="https://www.linkedin.com/">ir: Linkedin (altere o caminho do href em /views/home.js)</a>
    </div>
    
</body>
</html>